﻿@page "/"
@inject HttpClient http

<div class="root">
    <div class="menu">
        <div class="@(showIngredients ? "active" : null)" onclick="@(() => showIngredients = true)">Ingredients</div>
        <span class="alchemize @(alchemize ? "red" : null) @(animateAlchemizer ? "animateAlchemizer" : null)" onclick="@ToggleAlchemizer">☿</span>
        <div class="@(!showIngredients ? "active" : null)" onclick="@(() => showIngredients = false)">Effects</div>
    </div>
    <div class="filters">
        <input placeholder="filter by name" bind="nameFilter" />
        <button onclick="@(() => StateHasChanged())">Filter</button>
        <input placeholder="filter by property" bind="propertyFilter" />
    </div>
    @if (alchemize)
    {
        <div class="alchemizer">
            @foreach (var item in brewables.Where(BrewableMatchesQuery))
            {
                <div>
                    <span class="ingredient">@item.Item1.Name</span>
                    <span class="with">with</span>
                    <span class="ingredient">@item.Item2.Name</span>
                    <div class="effects">[@string.Join(", ", item.Effects)]</div>
                </div>
            }
        </div>
    }
    else if (data is AlchemyData)
    {
        <ul class="itemsList">
            @foreach (var item in CurrentCollection)
            {
                <li>
                    <div class="name">
                        @if (showIngredients)
                        {
                            <input type="checkbox" bind="@item.InInventory" /> 
                        }
                        <span class="@(item.InInventory && showIngredients ? "green" : null)" onclick="@(() => item.InInventory = !item.InInventory)">@item.Name</span>
                        @if (item.Vendors != null)
                        {
                            <span class="vendorsButton" onclick="@(() => item.ShowVendors = !item.ShowVendors)">[vendors]</span>
                        }
                    </div>
                    <div class="properties">
                        @foreach (var p in item.Properties)
                        {
                            <div>@p</div>
                        }
                    </div>
                    @if (item.ShowVendors)
                    {
                        <div class="vendors">
                            @foreach (var v in item.Vendors)
                            {
                                <div>@v.Name @@ @v.Location</div>
                            }
                        </div>
                    }
                </li>
            }
        </ul>
    }
</div>

@functions {
    AlchemyData data;
    bool showIngredients = true;
    bool alchemize = false;
    bool animateAlchemizer = false;
    string nameFilter = string.Empty;
    string propertyFilter = string.Empty;
    IList<Brewable> brewables = new List<Brewable>();
    IEnumerable<AlchemyItem> CurrentCollection =>
        (showIngredients ? data.Ingredients : data.Effects)
    .Where(x => Matches(x.Name, nameFilter) && x.Properties.Any(y => Matches(y, propertyFilter)));

    protected override async Task OnInitAsync()
    {
#if RELEASE
        data = await http.GetJsonAsync<AlchemyData>("/MorrowindAlchemy/data/alchemy.json");
#else
        data = await http.GetJsonAsync<AlchemyData>("/data/alchemy.json");
#endif
    }

    async Task ToggleAlchemizer()
    {
        alchemize = !alchemize;
        if (alchemize)
        {
            animateAlchemizer = true;
            brewables.Clear();
            StateHasChanged();
            await Task.Delay(100);
            brewables = GetBrewable();
            animateAlchemizer = false;
        }
    }

    IList<Brewable> GetBrewable()
    {
        var result = new List<Brewable>();
        var ingredients = data.Ingredients.Where(x => x.InInventory);
        for (int i = 0; i < ingredients.Count(); i++)
        {
            for (int j = i + 1; j < ingredients.Count(); j++)
            {
                var item1 = ingredients.ElementAt(i);
                var item2 = ingredients.ElementAt(j);
                var commonEffects = item1.Properties.Where(item2.Properties.Contains);
                if (item1.Properties.Any(item2.Properties.Contains))
                    result.Add(new Brewable { Item1 = item1, Item2 = item2, Effects = commonEffects });
            }
        }

        return result;
    }

    private bool Matches(string item, string query) =>
        string.IsNullOrWhiteSpace(query) || item.ToLower().Contains(query.ToLower());

    private bool BrewableMatchesQuery(Brewable x) =>
        (Matches(x.Item1.Name, nameFilter) || Matches(x.Item2.Name, nameFilter)) && x.Effects.Any(y => Matches(y, propertyFilter));
}